.sidenav-shipping-container {
    padding-left: 25px;
    padding-right: 25px;
}

.sidenav-shipping-container label {
    color: #888888;
}

.sidenav-shipping-title {
    color: #274686;
    font-size: 26px;
    font-weight: 800;
    padding-top: 20px;
}
.sidenav-shipping-container .primary-btn {
    margin-top: 10px;
}

/* This class keeps the row height from getting overridden from Home.css */
.row-item{
    height: auto;
}

@media only screen and (max-width: 700px) {
    /* For mobile phones and tablets: */
    .shipping-col {
        max-width: 100% !important;
        flex: none !important;
    }

    input {
        min-width: 200px !important;
    }
}

.shipping-overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 770px; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    right: 385px;
    bottom: 0;
    background-color: rgba(211, 213, 214, 0.5);   /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    transition: 0.2s;
}
